<form>
    <div class="post_footer" style="float:right;">
        <input type="hidden" name="targetId" value="{{{targetId}}}">
        <button formaction="/block/create" formmethod="post">
            <span style="float:right;cursor: pointer;" class="material-symbols-outlined">&#xE87D;</span>
        </button>
    </div>
</form>