<form>
    <div class="post_footer" style="float: right">
        <input type="hidden" name="targetId" value="{{{targetId}}}">
        <button formaction="/follow/delete" formmethod="post">
            <span style="float:right;cursor: pointer;" class="material-icons">delete</span>
        </button>
    </div>
</form>