<!-- main section start -->
<main>
    {{>layouts/failAlter}}
    <div class="header">
        <h2>Follow</h2>
    </div>

    <div class="tweet_box">
        <form action="/follow/create" method="post">
            <div class="tweet_box-input">
                <img src="/images/profilePic.jpg" alt="profile image">
                <input name="targetId" type="text" placeholder="Who want to follow? Enter user ID!">
                <button class="">Follow</button>
            </div>
        </form>
    </div>

    <div class="header">
        <h2>Following</h2>
    </div>
    {{#follow}}
        <div class="post">
            <div class="post_profile-image">
                <img src="/images/profilePic.jpg" alt="profile">
            </div>

            <div class="post_body">
                <div class="post_header" style="float: left">
                    <div class="post_header-text">
                        <h3>{{{targetId}}}
                            <span class="header-icon-section">@{{{targetId}}}</span>
                        </h3>
                        <br>
                        <div class="post_header-description">
                            <p>Last login time: {{{lastLogin}}}</p>
                        </div>
                    </div>
                </div>
                {{>layouts/follow/followFooter}}
            </div>
        </div>
    {{/follow}}


    <div class="header">
        <h2>Followers</h2>
    </div>
    {{#follower}}
        <div class="post">
            <div class="post_profile-image">
                <img src="/images/profilePic.jpg" alt="profile">
            </div>

            <div class="post_body">
                <div class="post_header" style="float: left">
                    <div class="post_header-text">
                        <h3>{{{targetId}}}
                            <span class="header-icon-section">@{{{targetId}}}</span>
                        </h3>
                    </div>
                    <br>
                    <div class="post_header-description">
                        <p>Last login time: {{{lastLogin}}}</p>
                    </div>
                </div>
                {{>layouts/follow/followerFooter}}
            </div>
        </div>
    {{/follower}}
</main>
<!-- main section end -->