<form>
    <div class="post_footer" style="float: right">
        <input type="hidden" name="postId" value="{{{postId}}}">
        <button formaction="/post/like/cancel" formmethod="post">
            <span style="cursor: pointer;" class="material-icons">favorite_border</span>{{postLikeCount}}
        </button>
    </div>
</form>