<form>
    <div class="post_footer" style="float: right">
        <input type="hidden" name="blockId" value="{{{blockId}}}">
        <button formaction="/block/delete" formmethod="post">
            <span style="float:right;cursor: pointer;" class="material-icons">delete_sweep</span>
        </button>
    </div>
</form>