<div class='div-3'>
    <div class='sub-div-3'>
        <label for="userId">User ID</label><br>
        <input name="userId" type='text'>
    </div>
</div>
<div class='div-4'>
    <div class='sub-div-4'>
        <label for="password">Password</label><br>
        <input name="password" type='password'>
    </div>
</div>