<form>
    <div class="post_footer">
        <input type="hidden" name="notificationId" value="{{{notificationId}}}">
        <button formaction="/notification/delete" formmethod="post">
            <span style="cursor: pointer;" class="material-icons">delete</span>
        </button>
    </div>
</form>