<form>
    <div class="post_footer">
        <input type="hidden" name="postId" value="{{{postId}}}">
        <input type="hidden" name="commentId" value="{{{commentId}}}">
        <button formaction="/comment" formmethod="get">
            <span style="cursor: pointer;" class="material-symbols-outlined">&#xe7e1;</span>
        </button>
        <button formaction="/comment/like/cancel" formmethod="post">
            <span style="cursor: pointer;" class="material-symbols-outlined">&#xE87D;</span>{{commentLikeCount}}
        </button>
    </div>
</form>