<form>
    <div class="post_footer" style="float:right;">
        <input type="hidden" name="postId" value="{{{postId}}}">
        <button formaction="/post/delete" formmethod="post">
            <span style="cursor: pointer;" class="material-symbols-outlined">&#xe872;</span>
        </button>
    </div>
</form>