<form>
    <div class="post_footer" style="float: right">
        <input type="hidden" name="targetId" value="{{{targetId}}}">
        <button formaction="/follow/create" formmethod="post">
            <span style="float:right;cursor: pointer;" class="material-icons">&#xe7fe;</span>
        </button>
        <button formaction="/block/create" formmethod="post">
            <span style="float:right;cursor: pointer;" class="material-icons">&#xe14b;</span>
        </button>
    </div>
</form>